.custom-button {
	background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 22.4px;
	padding: 20px 48px;
	cursor: pointer;
	border-radius: 10px;
	transition: background 0.3s ease;
	position: relative;
	border: none;
}

.custom-button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	padding: 1px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.47) 12.55%,
		rgba(255, 255, 255, 0.546875) 42.51%,
		rgba(255, 255, 255, 0.39) 78.66%
	);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.custom-button:hover {
	background: linear-gradient(212.74deg, #18c8ff -6.87%, #933ffe 31.94%);
}

.custom-button:active {
	background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
}

.custom-button:disabled {
	background: rgba(110, 117, 132, 1);
}

.custom-button {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

.button-icon {
	position: relative;
	left: 10px;
}
