@import './styles/utils/global.scss';

.page {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	background-color: $pageColor;
	color: $textColor;
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
	height: 100vh;
	max-width: 100%;

	scroll-behavior: smooth;

	&_body {
		margin: 0;
		overflow-x: hidden;
		min-width: $phone-min-width;
	}
}

.container {
	@include content-padding-inline;
}

.main-content {
	@include on-phone {
		row-gap: 120px;
		padding-top: 120px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
	}

	@include on-tablet {
		row-gap: 160px;
		padding-top: 72px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
	}

	@include on-desktop {
		row-gap: 200px;
		padding-bottom: 0px;
		padding-top: 200px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
	}
}
